<!DOCTYPE html>
<html>
<head>
  <title>NordspitzBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Nordlicht</h1>
<h2>Richtungsweisende Ideen für Webunternehmer und all jene, die es werden wollen.</h2>

<%= yield %>

</body>
</html>
